.app-container{
    border-style: double;
    margin: auto;
    width: 50%;
    border: 3px solid;
    padding: 10px;
    text-align: center;
}
.letter{
    border:1px solid gray;
    font-size:24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    width: 34px;
    text-align: center;
}
.mt-10{
    margin-top:10px;
}
.flex {
display: flex;
}
.flex-wrap {
    flex-wrap:wrap;
}
.button{
    
    font-size:24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    width: 34px;
    text-align: center;
    margin-right: 4px;
    margin-bottom: 4px;
}
.guessed{
    display: none;
    
}
.hidden{
    display: none;
}
#lost{
    color: brown;  
}
